/*
!/atuin
!/fish
!/hypr
!/kitty
!/mako
!/nvim
!/quickshell
!/rofi
!/scripts
!/system-themes
!/waybar
!/yazi
!/zellij
!convenciones_commits.md
!.gitignore

/nvim/.colorscheme
/nvim/lazy-lock.json
/kitty/current.conf
/rofi/themes/current.rasi
/system-themes/themes-disabled/
/yazi/theme.toml
/zellij/themes/current.kdl
