layout {
   default_tab_template {
       children
       pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {

                // Style mode
                mode_normal        "#[fg=#83a598,bold] NORMAL "
                mode_locked        "#[fg=#fb4934,bold] LOCKED "
                mode_pane          "#[fg=#b8bb26,bold] PANE "
                mode_tab        "#[fg=#8ec07c,bold] TAB "
                mode_scroll        "#[fg=#fe8019,bold] SCROLL "
                mode_enter_search          "#[fg=#fabd2f,bold] ENT_SEARCH "
                mode_search        "#[fg=#d3869b,bold] SEARCH "
                mode_resize        "#[fg=#fb4934,bold] RESIZE "
                mode_rename_tab          "#[fg=#d65d0e,bold] REN_TAB "
                mode_move        "#[fg=#fe8019,bold] MOVE "
                mode_rename_pane          "#[fg=#d65d0e,bold] REN_PANE "
                mode_session        "#[fg=#8ec07c,bold] SESSION "
                mode_prompt          "#[fg=#fabd2f,bold] PROMPT "

                // Notifications
                notification_format_unread           "#[fg=#83a598,bg=#32302f,blink]  #[fg=#89B4FA,bg=#181825] {message} "
                notification_format_no_notifications "#[fg=#83a598,bg=#32302f,dim]   "
                notification_show_interval           "10"

                // Format
                format_left   "#[] {session} {mode}"
                format_center  "{tabs}"
                format_right  " {command_git_branch}"
                format_space  "+"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#665c54]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"
                // hide_frame_for_single_pane "true"


                // Tabs
                tab_normal   "#[fg=#bdae93] {name} "
                tab_active   "#[fg=#83a598,bold,italic] {name} "
                tab_rename   "#[fg=#fb4934,bg=#32302f] {index} {name} {floating_indicator} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#83a598] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                // indicators
                tab_sync_indicator       "<> "
                tab_fullscreen_indicator "[] "
                tab_floating_indicator   "o"
              }
          }
      }
}
