themes {
  current {
    fg "#a8a19f"
    bg "#1b1918"
    black "#1b1918"
    white "#a8a19f"
    red "#f22c40"
    green "#7b9726"
    yellow "#c38418"
    blue "#407ee7"
    magenta "#6666ea"
    cyan "#3d97b8"
    orange "#df5320"
  }
}
