themes {
  kanagawa_dragon {
      fg "#dcdccc"
      bg "#282828"
      red "#C34043"
      green "#728F66"
      yellow "#9D8F6F"
      blue "#8BA4B0"
      magenta "#8BA4B0"
      cyan "#8be9fd"
      orange "#ffb86c"
      black "#1a1a1a"
      white "#8D909D"
  }
}
