* {
    bg:               #f9faef;
    bg-alt:           #e1e4d5;
    fg:               #1a1c16;
    fg-alt:           #75796c;
    accent:           #4d662b;
    background-color: transparent;
    text-color:       @fg;
}
