* {
    bg:       #23262b;
    bg-alt:       #303337;
    fg:       #bab9b6;
    fg-alt:       #abaaa8;
    accent:       #66b0ef;
    selected-normal-bg:       #66b0ef;
    selected-normal-fg:       #23262b;
    urgent-bg:       #ff8782;
    urgent-fg:       #23262b;
    active-bg:       #3e4044;
    active-fg:       #bab9b6;
    highlight:       #e99857;
    window-bg:       #23262b;
    background-color: transparent;
    text-color:       @fg;
}
