* {
    bg:       #faf4ed;
    bg-alt:       #fffaf3;
    fg:       #575279;
    fg-alt:       #797593;
    accent:       #907aa9;
    selected-normal-bg:       #907aa9;
    selected-normal-fg:       #faf4ed;
    urgent-bg:       #b4637a;
    urgent-fg:       #faf4ed;
    active-bg:       #f2e9de;
    active-fg:       #575279;
    highlight:       #ea9d34;
    window-bg:       #faf4ed;
    background-color: transparent;
    text-color:       @fg;
}
